In [82]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import datetime

In [83]:
# initialize list of lists
old_price = [['toyota ', 30000], ['ford', 40000], ['bmw', 50000], ['nissan', 6000]]


new_price = [['toyota', 40000], ['ford', 50000], ['bmw', 60000]]


# Create the pandas DataFrame
df_1 = pd.DataFrame(old_price, columns = ['Make', 'Value'])

# Create the pandas DataFrame
df_2 = pd.DataFrame(new_price, columns = ['Make', 'New_Value'])

In [84]:
car_price = pd.merge(df_1, df_2, on ='Make')

print(car_price)

#Notice maker toyota does not appear because it has an empty space after its name

   Make  Value  New_Value
0  ford  40000      50000
1   bmw  50000      60000

In [85]:
#Function to delete all leading and trailing empty spaces

def trim_all_columns(df):
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)

In [86]:
df_1 = trim_all_columns(df_1)

In [87]:
car_price = pd.merge(df_1, df_2, on ='Make')

print(car_price)

     Make  Value  New_Value
0  toyota  30000      40000
1    ford  40000      50000
2     bmw  50000      60000

In [88]:
#You can also use a more simple solution

#df_1 = df_1.str.strip()

In [89]:
no_new_price = np.setdiff1d(df_1['Make'], df_2['Make'])

print(f"Maker {no_new_price} does not have a new value.")

Maker ['nissan'] does not have a new value.